// Custom styles.
// 背景图片
body {
  min-width: 375px;
  background: url("/assets/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
// 导航栏
.menu .menu-item a:hover {
    border-bottom-color: #fff;
}
// 根据背景需要改为白色字体
.site-title, .site-subtitle, .menu a, .footer-inner {//, .post-title-link, .post-meta span
  color: #ffffff !important;
}
// 文章填充、边距等
.post-block {
  width: 700px;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}
// 文章底部距离
.posts-expand {
    padding-top: 0;
}
// 首页文章内容与标题的距离
.post-body {
  margin-top: -40px;
}
// 阅读更多按钮
.post-button {
    margin-top: 25px;
    margin-bottom: 20px;
}
// 侧栏
.sidebar {
  background: rgba(34, 34, 34, 0.9);
}
// 侧栏头像（圆形以及旋转效果）
.site-author-image {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    transition: transform 1.0s ease-out;
}
.site-author-image img:hover {
    transform: rotateZ(360deg);
}
// 首页文章预览图
.img-topic {
  border: 0 !important;
  width: auto;
  height: 250px;
  // 让缩略图变黑白
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

  filter: grayscale(100%);

  filter: gray;
}
.img-topic:hover {
  // 让缩略图变彩色
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);

  filter: grayscale(0%);

  filter: none;
}
// 相册样式，统一大小
.post-gallery .post-gallery-img {
  margin: 4px;
  display: inline-block;
  width: 200px;
  height: 350px;
  background-size: cover;
  background-position: center;

  // 让缩略图变黑白
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

  filter: grayscale(100%);

  filter: gray;
}
.post-gallery {
  text-align: center;
}
.post-gallery-row {
  margin: auto;
}
.post-gallery .post-gallery-img:hover {
  // 让缩略图变彩色
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);

  filter: grayscale(0%);

  filter: none;
}

// fancybox 打开图片后，去除边框
.fancybox-skin {
  padding: 0 !important;
}
// footer
.post-footer .post-eof {
  display: none;
}

.category-all-title, .tag-cloud-title {
  margin-top: 35px;
}
// 分类页面
.category-all-page {
  padding-left: 20px;
  padding-right: 20px;
}
.posts-collapse {
  margin-left: 30px;
}
// 归档
.archive {
  padding: 20px 0;
}
.archive .post-type-normal {
  margin: 0;
}
.archive .post-type-normal .post-title {
  margin-top: 0;
  margin-bottom: 0;
}
// 标签云
.tag {
  padding: 20px 0;
}
.tag .post-type-normal {
  margin: 0;
}
.tag .post-type-normal .post-title {
  margin-top: 0;
  margin-bottom: 0;
}
// 分类
.category {
  padding: 20px 0;
}
.category .post-type-normal {
  margin: 0;
}
.category .post-type-normal .post-title {
  margin-top: 0;
  margin-bottom: 0;
}
// 时间轴
.posts-collapse::after {
  background: #e0e0e0;
}
.posts-collapse .collection-title {
  margin: 30px 0;
}
// 移动端
@media (max-width: 767px) {
  .btn-bar {
    background-color: #FFFFFF;
  }
  .menu a {
    color: #000000 !important;
  }
  #sidebar-dimmer {
    opacity: 0 !important;
  }
  #main {
    margin-top: -50px;
    padding-bottom: 100px;
  }
  .post-block {
    width: 500px;
  }
  .img-topic {
    width: 300px;
    height: auto;
  }
  .post-gallery .post-gallery-img {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 550px) {
  .post-block {
    width: 300px;
  }
  .post-body {
    margin-top: -40px;
  }
  .img-topic {
    width: 200px;
    height: auto;
  }
  .post-title-link {
    font-size: 80%;
  }
  .post-gallery .post-gallery-img {
    margin-left: 30px;
    margin-right: 30px;
  }
  .posts-expand .post-tags a {
    font-size: 9px;
  }
  .post-title {
    font-size: 16px;
  }
  .post-nav-item a {
    font-size: 9px;
  }
  #resCanvas {
    width: 250px;
  }
}
