// Custom styles.
// 背景图片
body {
  background: url("/assets/background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.site-title, .site-subtitle, .menu a, .footer-inner {//, .post-title-link, .post-meta span
  color: #ffffff !important;
}
.post-block {
  width: 700px;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}
// 文章底部距离
.posts-expand {
    padding-top: 0;
}
// 侧栏头像（圆形以及旋转效果）
.site-author-image {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    transition: transform 1.0s ease-out;
}
.site-author-image img:hover {
    transform: rotateZ(360deg);
}
// 首页文章预览图
.img-topic {
  border: 0 !important;
  width: auto;
  height: 300px;
  // 让缩略图变黑白
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

  filter: grayscale(100%);

  filter: gray;
}
.img-topic:hover {
  // 让缩略图变彩色
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);

  filter: grayscale(0%);

  filter: none;
}
// 相册样式，统一大小
.post-gallery .post-gallery-img {
  margin: 4px;
  display: inline-block;
  width: 200px;
  height: 400px;
  background-size: cover;
  background-position: center;

  // 让缩略图变黑白
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

  filter: grayscale(100%);

  filter: gray;
}
.post-gallery {
  text-align: center;
}
.post-gallery-row {
  margin: auto;
}
.post-gallery .post-gallery-img:hover {
  // 让缩略图变彩色
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);

  filter: grayscale(0%);

  filter: none;
}

// fancybox 打开图片后，去除边框
.fancybox-skin {
  padding: 0 !important;
}
// 去除 fancybox 打开图片后的灰底
.fancybox-overlay {
  //background: none !important;
}
// footer
.post-footer .post-eof {
  //width: 50%;
  display: none;
}
